deploy/sync.sh
doc
graphics
testing
website/bower_components
website/lib
website/logs/*
website/mimages
website/uaparser
website/www/downloads/*.zip
website/www/downloads/*.exe
website/www/javascript/counto12.min.js
website/apache2dev.conf
website/apache2prod.conf
config.php
